<h1 mat-dialog-title>Hi {{data.name}}</h1>
<div mat-dialog-content>
  <form [formGroup]="form" (click)="onSubmit()" >
    <mat-form-field>
      <mat-label>First Name</mat-label>
      <input matInput formControlName="firstName" name="firstName" type="test"  />
      <mat-error *ngIf="FirstName.touched && FirstName.invalid && FirstName.errors?.required ">FirstName Required</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="lastName" name="lastName" type="test"  />
      <mat-error *ngIf="LastName.touched && LastName.invalid && LastName.errors?.required ">LastName Required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" name="email" type="email"  />
      <mat-error *ngIf="Email.touched && Email.invalid && Email.errors?.required ">Email Required</mat-error>
      <mat-error *ngIf="Email.touched && Email.invalid && Email.errors?.pattern ">Invalid Email</mat-error>
    </mat-form-field>

    <div>
      <button mat-raised-button color="primary" style="margin-right: 15px">Sign Up</button>
      <button mat-raised-button color="warn" (click)="onNoClick()">Cancel</button>
    </div>

  </form>
</div>
<!--<div mat-dialog-actions>-->
<!--  <button mat-button (click)="onNoClick()">No Thanks</button>-->
<!--  <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>-->
<!--</div>-->
