.demo-table {
  width: 50%;
  margin: 50px ;
  max-width: 50%;
}

.demo-button-container {
  padding-bottom: 16px;
}
.mdc-data-table__table{
  min-width: 95%;
}

.add-add-button {
  margin-left: 8px;
}
.demo-button-container {
  padding: 15px;
}
.center{
  align-items: center;
}

